fundme-frontend/node_modules




hardhat-fund-me-fcc/.encryptedKey.json
hardhat-fund-me-fcc/node_modules
hardhat-fund-me-fcc/.env
hardhat-fund-me-fcc/coverage
hardhat-fund-me-fcc/coverage.json
hardhat-fund-me-fcc/typechain

#Hardhat files
hardhat-fund-me-fcc/cache
hardhat-fund-me-fcc/artifacts
hardhat-fund-me-fcc/.DS_Store
hardhat-fund-me-fcc/gas-report.txt
hardhat-fund-me-fcc/deployments

# Patrick
hardhat-fund-me-fcc/.notes.md